@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  padding: 1rem 0;
}

.header__wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu.show {
  left: 0;
}

.header__menu {
  background-color: #262626;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 70%;
  height: 100%;
  text-align: center;
  overflow-x: hidden;
}

.header__menu ul {
  margin: 6rem 6rem;
}

.header__menu a {
  color: white;
  font-size: 2rem;
  line-height: 3;
}

.header__nav li {
  margin: 0 1rem;
}

.header__nav a {
  font-weight: 900;
}

@media screen and (max-width: 520px) {
  .header__nav a {
    display: none;
  }
}

.header__nav__icons {
  margin-left: 2rem;
}

@media screen and (max-width: 520px) {
  .header__nav__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 2.5rem;
  }
}

.header__nav__icons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 520px) {
  .header__nav__icons .fa-bars {
    display: none;
  }
}

.loadmore {
  width: 24rem;
  height: 24rem;
  border: 1px solid #262626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5rem auto;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

@media screen and (max-width: 520px) {
  .loadmore {
    margin: 1rem auto;
  }
}

.loadmore a {
  text-transform: uppercase;
  display: block;
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: bold;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

@media screen and (max-width: 520px) {
  .loadmore a {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 520px) {
  .loadmore {
    width: 14rem;
    height: 14rem;
  }
}

.arrow--more {
  font-size: 5rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media screen and (max-width: 520px) {
  .arrow--more {
    font-size: 2rem;
  }
}

.arrow {
  font-size: 5rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.loadmore:hover {
  background-color: #262626;
  color: white;
}

.loadmore:hover a {
  color: white;
}

.newmember {
  width: 20.2rem;
  height: 20.2rem;
  border: 1px solid #262626;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.newmember__wrapper {
  margin: 5rem 2rem;
  text-align: justify;
}

.newmember a {
  text-transform: uppercase;
  display: block;
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 900;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.newmember:hover {
  background-color: #262626;
  color: white;
}

.newmember:hover a {
  color: white;
}

.chat {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

@media screen and (max-width: 520px) {
  .chat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.chat__wrapper {
  padding: 8rem 0;
}

.chat a {
  text-transform: uppercase;
  font-size: 5.5rem;
  font-weight: 900;
  display: block;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.chat i {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.chat:hover a, .chat:hover i {
  color: #e17833;
}

.footer__wrapper {
  padding: 2rem 0;
  border-top: 1px solid rgba(38, 38, 38, 0.1);
}

.footer__content {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  line-height: 2;
}

@media screen and (max-width: 520px) {
  .footer__content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.footer__content a {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.footer__content a:hover {
  color: #e17833;
}

.footer__contact a {
  font-size: 3rem;
  font-weight: 700;
}

.footer__contact span {
  color: #8c8c8c;
}

.copyright {
  padding-top: 8rem;
}

.copyright__wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 520px) {
  .copyright__wrapper {
    text-align: center;
  }
}

@media screen and (min-width: 520px) {
  .copyright .copyright__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.copyright__branding a {
  font-size: 3rem;
  font-weight: 900;
}

.copyright__nav li {
  margin: 0 1rem;
}

.copyright__nav a {
  font-weight: 900;
}

.copyright__nav__icons {
  font-size: 2rem;
}

@media screen and (max-width: 520px) {
  .copyright__nav__icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.d--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d--grid {
  display: -ms-grid;
  display: grid;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #262626;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}

.container {
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 1rem;
}

a {
  text-decoration: none;
  color: #262626;
}

ul {
  list-style: none;
}

.hero {
  padding: 3rem 0;
}

.hero i {
  font-size: 3.5rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  padding: 3rem 0;
}

@media screen and (max-width: 520px) {
  .hero i {
    margin-top: 5rem;
  }
}

.hero__wrapper {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 9rem;
  border-top: 1px solid rgba(38, 38, 38, 0.1);
}

@media screen and (max-width: 520px) {
  .hero__wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: unset;
  }
}

.hero__content {
  padding: 3rem 0;
}

.hero__content span {
  font-size: 1.5rem;
}

.hero__content h1 {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 500;
  padding-top: 3rem;
}

@media screen and (max-width: 520px) {
  .hero__content h1 {
    font-size: 4rem;
  }
}

.hero__content h1 span {
  font-size: 5rem;
  font-weight: 900;
}

@media screen and (max-width: 520px) {
  .hero__content h1 span {
    font-size: 4rem;
  }
}

.hero__content p {
  font-size: 1.2rem;
}

.hero__image {
  background-color: #e17833;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  -webkit-transform: translate(-30px, 50px);
          transform: translate(-30px, 50px);
  position: relative;
  left: 30px;
}

.hero__image img {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  width: 100%;
  position: relative;
}

.services__wrapper {
  padding: 5rem 0;
  border-top: 1px solid rgba(38, 38, 38, 0.1);
  border-bottom: 1px solid rgba(38, 38, 38, 0.1);
}

.services__wrapper span {
  text-transform: uppercase;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 3rem;
}

.services__list {
  line-height: 1.4;
}

@media screen and (max-width: 520px) {
  .services__list {
    line-height: 1.6;
  }
}

.services__list li {
  display: inline-block;
  margin-right: 8.7rem;
}

@media screen and (max-width: 520px) {
  .services__list li {
    display: block;
    margin-right: unset;
  }
}

.services__list li a {
  font-size: 5rem;
  color: #8c8c8c;
  position: relative;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

@media screen and (max-width: 520px) {
  .services__list li a {
    font-size: 3.5rem;
  }
}

.services__list li a:hover {
  color: #e17833;
}

.services__list li a::after {
  content: "";
  position: absolute;
  height: 70%;
  width: 1px;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  background-color: #8c8c8c;
  bottom: 0.5rem;
  right: -4rem;
}

@media screen and (max-width: 520px) {
  .services__list li a::after {
    width: unset;
  }
}

.services__list li a:hover::after {
  color: #8c8c8c;
}

.services__list li a sup {
  font-size: 2rem;
  display: inline-block;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.services__list li:nth-of-type(3) a::after,
.services__list li:last-child a::after {
  display: none;
}

.project {
  padding: 3rem 0;
}

.project__header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project__nav li {
  margin: 0 1rem;
}

.project__nav a {
  font-weight: 900;
}

@media screen and (max-width: 520px) {
  .project__nav a {
    display: none;
  }
}

.project__list {
  padding-top: 3rem;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10rem;
}

@media screen and (max-width: 520px) {
  .project__list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: unset;
  }
}

.project__list h2, .project__list a {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.project__list h2:hover, .project__list a:hover {
  color: #e17833;
}

.project__card {
  background-size: cover;
  background-position: center center;
  height: 40rem;
}

.project__card li {
  margin-right: 1rem;
}

.project__card a {
  color: #8c8c8c;
}

.project__card img {
  width: 100%;
}

.clients__wrapper {
  padding: 6rem 0;
  border-top: 1px solid rgba(38, 38, 38, 0.1);
  border-bottom: 1px solid rgba(38, 38, 38, 0.1);
}

@media screen and (max-width: 520px) {
  .clients__wrapper {
    text-align: center;
  }
}

.clients__wrapper span {
  text-transform: uppercase;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 3rem;
}

.clients__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 520px) {
  .clients__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.clients__item img {
  width: 18rem;
  margin-right: 2rem;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

@media screen and (max-width: 520px) {
  .clients__item img {
    width: 10rem;
    margin-right: unset;
  }
}

.team__wrapper {
  padding: 6rem 0;
  border-bottom: 1px solid rgba(38, 38, 38, 0.1);
}

@media screen and (max-width: 520px) {
  .team__wrapper {
    text-align: center;
  }
}

.team__wrapper span {
  text-transform: uppercase;
  font-weight: 900;
  padding-bottom: 3rem;
}

.team__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 520px) {
  .team__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.team__item {
  padding-bottom: 3rem;
}

.team__item img {
  margin-right: 8rem;
  border: 1px solid black;
}

@media screen and (max-width: 520px) {
  .team__item img {
    margin-right: unset;
  }
}

.team__item h2 {
  font-size: 2rem;
}

.team__item span {
  font-size: 1.2rem;
  color: #8c8c8c;
}
/*# sourceMappingURL=main.css.map */